<h1>Welcome to this site <%= @user.email %></h1>
<p>Now you can log in on your account <%= link_to "here", new_user_session_path %></p>
<p>Your mems will be <%= link_to "here", my_mems_path %>
<p>I hope You will enjoy this! :) </p>